.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Variables */

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --light-grayish-cyan: hsl(216, 100%, 4%);
  --light-grayish-cyan-inputs: hsl(189, 41%, 97%);
  --white: #fff;
}


/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 100%;
  text-align: end;
  padding-right: 1rem;
  background-color: var(--light-grayish-cyan-inputs);
  border: none;
  padding: 1rem;
  color: var(--very-dark-cyan);
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

/* Body Background */
body {
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

/* Main Styling */


.calculator-container {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
}

.calculator-container__left {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  padding-bottom: 1rem;
}

#bill{
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px ;
}

#bill:focus{
  outline: 3px solid var(--strong-cyan);
}

.bill {
  margin-bottom: 2.5rem;
}

.tip__inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  margin-top: 1.2rem;
}

input[type=button] {
  padding: 0.75rem 2.5rem;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: var(--very-dark-cyan);
  color: white;
  font-weight: 800;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
}
input[type=button].active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan) ;
}

/* .tip__inputs > input[type=button]:last-child {
  padding: 14px;
  background-color: var(--light-grayish-cyan-inputs);
  color: var(--dark-grayish-cyan);
} */

.tip__inputs .custom-btn {
  border: none;
  background-color: var(--light-grayish-cyan-inputs);
  color: var(--dark-grayish-cyan);
  text-align: center;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  width: 150px;
}

.tip__inputs .custom-btn:focus {
  outline: 3px solid var(--strong-cyan);
}


#people{
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px ;
}

#people:focus{
  outline: 3px solid var(--strong-cyan);
}

.calculator-container__right {
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 0px 30px;
}

.btn-reset {
  padding: 10px 100px;
  justify-self: flex-end;
  text-transform: uppercase;
  background-color: var(--strong-cyan);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: var(--very-dark-cyan);
  letter-spacing: 1.1px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-reset:hover {
  background-color: var(--light-grayish-cyan-inputs);
}

.number-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;
}

.number-container h1 {
  color: var(--strong-cyan);
  font-weight: 700;
  font-size: 2rem;
}

.number-container span {
  font-size: 0.8rem;
  color: var(--dark-grayish-cyan);
}

.amount {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.amount > p {
  color: var(--white);
  font-weight: 700;
}



@media screen and (max-width:768px) {
  
  .calculator-container{
    width: 100%;
    flex-direction: column;
  }

  .calculator-container__left {
    width: 100%;
  }

  .calculator-container__right {
    width: 100%;
    margin-left: 0px;
    height: 30vh;
    margin-top: 20px;
  }


  .number-container {
    justify-content: space-around;
  }

  .number-container h1 {
    color: var(--strong-cyan);
    font-weight: 700;
    font-size: 1.5rem;
  }
}


@media screen and (max-width:414px) {
  #form {
    width: 95vw;
    margin-right: 14px;
  }


  .tip__inputs {
    column-gap: 5px;
  }

  input[type=button] {
    padding: 0.75rem 0;
  }


}